@font-face {
    font-family: 'MapoGoldenPier';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.nav {

	background-color: #f4e4ca;
	position:fixed;
	text-align: center;
	top: 0px;
	padding-top: 15px;
	font-size: 17px;
	margin-right:10px;
	width:100%;
}



a:link{	text-decoration:none; color: #000000;}
a:visited{color: #000000;}
a:hover{color: #A6A6A6;}
a:active{color: #A6A6A6;}


body {
	text-align: center;
	font-family: 'MapoGoldenPier', sans-serif;
	font-size: 25px;
	line-height :150%;

}

.section1 {
	
}

.section2 {
	
	
}

.section3 {
	
	
}

.section4 {
	
	
}

.section5 {
	
	
}

.outtro {
	background-color: white;
}

footer {
	clear: both;
}